.header{
    height:60px;
}
.header ul{
    margin:auto;
    width:800px;
}
.header ul li {
    list-style: none;
    margin: 10px auto;
    padding-left: 10px;
    width: 100px;
    height: 30px;
    float:left;
}

#leftMenu {
    width: 300px;
    height: 600px;
    float: left;
}

#content {
    width:500px;
    height: 600px;
    float: left;
}